/* Add CSS Styling */

.odd-numbered {
    background-color: #ffc0cb;
    font-family: 'Times New Roman', Times, serif;
}

#second {
    color: #00f;
    font-size: 36px;
}

#third{
    font-size: 34px;
}

#fourth {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}