/* Add CSS Styling */

.button1, 
.button2{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}

.button1{
    background-color: black;
    color: #ffffff;
}

.button2{
    background-color: #ffff00;
}